formbricks-discord-bot/backend/n8n-workflows/Workflow 2_ Automation Chatbot Assistane - Event Driven (Production).json
{
  "id": "FzUgBdMN9HClQtAgAcv8A",
  "name": "Workflow 2: Chatbot Assistant + Recommendation Engine (Production v9)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-qa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7805ba86-24a8-4cbe-8f45-b5a45e3f1983",
      "name": "Webhook: Discord Chatbot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "webhookId": "chatbot-qa"
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// PARSE + SMART INTENT DETECTION — v9 (Revised)\n//\n// SUMBER INPUT:\n//   1. Discord Bot (chatbot.handler.js via N8N_CHATBOT_WEBHOOK)\n//   2. Web Portal (jika frontend call langsung ke chatbot webhook)\n//\n// INTENT CATEGORIES:\n//   ticket_specific  — ada #ID atau query data spesifik\n//   troubleshooting  — cari solusi, error, masalah\n//   historical       — cari kasus serupa\n//   recommendation   — saran / rekomendasi\n//   incident_status  — tanya status insiden\n//   auto_create      — minta buat ticket baru\n//   explanation      — apa itu, jelaskan\n//   general          — pertanyaan umum IT\n//\n// FLAGS OUTPUT:\n//   needsTicket   — fetch data ticket spesifik dari DB\n//   needsKB       — search knowledge_base\n//   needsSimilar  — search resolved tickets (recommendation)\n//   needsIncident — fetch active incident status\n//   isNewTicket   — user minta buat ticket baru\n// ================================================================\nconst body = $input.item.json.body || {};\nconst rawQuestion = (body.question || '').trim();\nconst question    = rawQuestion.toLowerCase();\n\nif (!rawQuestion) {\n  return [{ json: {\n    error: true,\n    answer: 'Pertanyaan tidak boleh kosong.',\n    userId: body.userId || 'unknown',\n    userName: body.userName || 'unknown',\n  }}];\n}\n\n// ── Ticket ID detection ─────────────────────────────────────────────────────\nconst ticketIdMatch  = question.match(/#(\\d+)/);\nconst detectedTicketId = ticketIdMatch\n  ? parseInt(ticketIdMatch[1])\n  : (body.ticketId || body.ticket_id || null);\n\n// ── Keyword extraction ──────────────────────────────────────────────────────\nconst STOPWORDS = new Set([\n  'yang','untuk','dari','dengan','adalah','pada','ke','di','dan','atau',\n  'jika','maka','tetapi','saya','kamu','apa','kenapa','bagaimana','kapan',\n  'siapa','tolong','bisa','tidak','ada','ini','itu','juga','sudah','belum',\n  'masih','lagi','saja','agar','supaya','setelah','sebelum','ketika','karena',\n  'sebab','oleh','namun','akan','harus','perlu','coba','mohon','info','tahu',\n  'minta','bantu','berikan','tampilkan','tunjukkan','jelaskan','buatkan','cari',\n  'saran','ticket','tiket','masalah','problem','issue','tolong','please','help',\n]);\nconst keywords = rawQuestion\n  .replace(/#\\d+/g, '')\n  .split(/\\s+/)\n  .map(w => w.toLowerCase().replace(/[^a-z0-9]/g, ''))\n  .filter(w => w.length > 3 && !STOPWORDS.has(w))\n  .slice(0, 10);\n\n// ── Intent detection ────────────────────────────────────────────────────────\nlet category    = 'general';\nlet needsTicket = false;\nlet needsKB     = false;\nlet needsSimilar = false;\nlet needsIncident = false;\nlet isNewTicket = false;\n\n// 1. Ticket spesifik: HARUS ada #ID atau query data tiket\nconst TICKET_DATA_KW = [\n  'summary','root cause','ringkasan','penyebab','akar masalah',\n  'handling','penanganan','tindak lanjut','action taken','timeline',\n  'assignee','ditugaskan','status tiket','status ticket'\n];\nconst isTicketDataQuery = TICKET_DATA_KW.some(kw => question.includes(kw));\n\nif (detectedTicketId) {\n  needsTicket = true;\n  category    = 'ticket_specific';\n} else if (isTicketDataQuery) {\n  // Tanya data ticket tapi tanpa ID\n  category = 'ticket_specific';\n}\n\n// 2. Troubleshooting / solusi\nconst TROUBLESHOOT_KW = [\n  'error','rusak','gagal','tidak bisa','cara','solusi','langkah',\n  'troubleshoot','runbook','perbaiki','kenapa','mengapa','bagaimana cara',\n  'fix','solve','how to','tidak jalan','tidak muncul','blank','lambat',\n  'slow','hang','freeze','crash','restart','reset'\n];\nif (TROUBLESHOOT_KW.some(kw => question.includes(kw))) {\n  needsKB      = true;\n  needsSimilar = true;\n  if (category === 'general') category = 'troubleshooting';\n}\n\n// 3. Historical / kasus serupa\nconst HISTORICAL_KW = [\n  'mirip','serupa','pernah','historical','sebelumnya','kasus lain',\n  'dulu','sebelum','pernah terjadi','history'\n];\nif (HISTORICAL_KW.some(kw => question.includes(kw))) {\n  needsSimilar = true;\n  if (category === 'general') category = 'historical';\n}\n\n// 4. Rekomendasi\nconst RECOMMEND_KW = [\n  'rekomendasi','saran','sebaiknya','tools','solusi terbaik',\n  'alternatif','pilihan','mana yang','lebih baik'\n];\nif (RECOMMEND_KW.some(kw => question.includes(kw))) {\n  needsKB      = true;\n  needsSimilar = true;\n  if (category === 'general') category = 'recommendation';\n}\n\n// 5. Status insiden aktif\nconst INCIDENT_KW = [\n  'incident aktif','insiden aktif','gangguan saat ini','status insiden',\n  'ada gangguan','outage','downtime saat ini','sedang terjadi'\n];\nif (INCIDENT_KW.some(kw => question.includes(kw))) {\n  needsIncident = true;\n  if (category === 'general') category = 'incident_status';\n}\n\n// 6. Auto-create ticket\nconst CREATE_KW = [\n  'buat ticket','buat tiket','laporkan masalah','open ticket',\n  'create ticket','buatkan ticket','buatkan tiket'\n];\nif (CREATE_KW.some(kw => question.includes(kw))) {\n  isNewTicket = true;\n  if (category === 'general') category = 'auto_create';\n}\n\n// 7. Penjelasan konsep\nconst EXPLAIN_KW = [\n  'apa itu','jelaskan','perbedaan','pengertian','definisi',\n  'explain','what is','what are'\n];\nif (EXPLAIN_KW.some(kw => question.includes(kw))) {\n  needsKB = true;\n  if (category === 'general') category = 'explanation';\n}\n\n// 8. Incident report request\nif (question.includes('incident report') || question.includes('laporan insiden') || question.includes('buatkan laporan')) {\n  needsTicket = true;\n  category = 'incident_report';\n}\n\nconsole.log(`[WF2] category=${category} ticketId=${detectedTicketId} needsTicket=${needsTicket} needsKB=${needsKB} needsSimilar=${needsSimilar} needsIncident=${needsIncident} isNewTicket=${isNewTicket}`);\n\nreturn [{ json: {\n  userId:              body.userId   || body.user_id   || 'unknown',\n  userName:            body.userName || body.user_name || 'unknown',\n  question:            rawQuestion,\n  conversationHistory: Array.isArray(body.conversationHistory) ? body.conversationHistory : [],\n  detectedTicketId,\n  keywords,\n  category,\n  needsTicket,\n  needsKB,\n  needsSimilar,\n  needsIncident,\n  isNewTicket,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "id": "eb62c596-c817-4e59-81c6-2858a66abfa5",
      "name": "Parse & Detect Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/api/chatbot/context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "automation_ticketing01_incident02"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticketId",
              "value": "={{ $json.detectedTicketId }}"
            },
            {
              "name": "keywords",
              "value": "={{ $json.keywords.join(',') }}"
            },
            {
              "name": "needsTicket",
              "value": "={{ $json.needsTicket }}"
            },
            {
              "name": "needsKB",
              "value": "={{ $json.needsKB }}"
            },
            {
              "name": "needsSimilar",
              "value": "={{ $json.needsSimilar }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "afe1327b-2331-4fc8-ae56-7070e465ce1d",
      "name": "Fetch Context (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:3000/api/incident/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "automation_ticketing01_incident02"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 8000
        }
      },
      "id": "inc-fetch-active-01",
      "name": "Fetch Active Incidents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// BUILD AI CONTEXT — v9 Revised\n// Merge: ticket + KB + similar tickets + active incidents\n// Tambahan: recommendation block jika needsSimilar=true\n// Backward compat: semua field dari Fetch Context (API) tetap dipakai\n// ================================================================\nconst ctx     = $('Parse & Detect Intent').item.json;\nconst fetched = $('Fetch Context (API)').item.json;\n\n// Active incidents — hanya diambil jika needsIncident=true\nlet activeIncidents = [];\nif (ctx.needsIncident) {\n  try {\n    const incData = $('Fetch Active Incidents').item.json;\n    activeIncidents = incData.incidents || [];\n  } catch (_) {}\n}\n\nconst ticket         = fetched.ticket         || null;\nconst runbooks       = fetched.runbooks        || [];\nconst similarTickets = fetched.similarTickets  || [];\nconst keywords       = Array.isArray(ctx.keywords) ? ctx.keywords : [];\n\n// ── Susun context text ──────────────────────────────────────────────────────\nlet contextText = '';\ncontextText += `USER QUESTION: ${ctx.question || ''}\\n`;\ncontextText += `CATEGORY: ${ctx.category || 'general'}\\n`;\ncontextText += `KEYWORDS: ${keywords.join(', ') || '(none)'}\\n\\n`;\n\n// ── TICKET SPESIFIK ─────────────────────────────────────────────────────────\nif (ticket) {\n  const ff            = ticket.formFields || {};\n  const summaryText   = ticket.summaryTicket   || ticket.summary_ticket   || null;\n  const rootCauseText = ticket.rootCause       || ticket.root_cause       || null;\n  const timelineAction= ticket.timelineActionTaken  || ticket.timeline_action_taken  || null;\n  const timelineTindak= ticket.timelineTindakLanjut || ticket.timeline_tindak_lanjut || null;\n\n  contextText += `═══ TICKET #${ticket.id} (${ticket.type}) ═══\\n`;\n  contextText += `Title : ${ticket.title || ff['Issue'] || ff['Incident Information'] || 'N/A'}\\n`;\n  contextText += `Status: ${ticket.status} | Mode: ${ticket.mode || 'N/A'}\\n`;\n\n  if (ticket.assignee && ticket.assignee.length > 0) {\n    contextText += `Assignee: ${ticket.assignee.join(', ')}\\n`;\n  }\n\n  if (summaryText) {\n    contextText += `\\n📋 SUMMARY:\\n${String(summaryText).substring(0, 800)}\\n`;\n  } else {\n    contextText += `\\n📋 SUMMARY: Belum tersedia (ticket belum DONE/RESOLVED)\\n`;\n  }\n\n  if (rootCauseText) {\n    contextText += `\\n🔍 ROOT CAUSE:\\n${String(rootCauseText).substring(0, 500)}\\n`;\n  }\n\n  if (timelineAction) {\n    contextText += `\\n📅 ACTION TAKEN:\\n${String(timelineAction).substring(0, 500)}\\n`;\n  }\n  if (timelineTindak) {\n    contextText += `\\n📅 TINDAK LANJUT:\\n${String(timelineTindak).substring(0, 500)}\\n`;\n  }\n  contextText += `\\n`;\n}\n\n// ── KNOWLEDGE BASE ──────────────────────────────────────────────────────────\nif (runbooks.length > 0) {\n  contextText += `═══ KNOWLEDGE BASE / RUNBOOK (${runbooks.length}) ═══\\n`;\n  runbooks.forEach((kb, i) => {\n    contextText += `\\n${i+1}. [${kb.category || 'KB'}] ${kb.title || ''}\\n`;\n    contextText += `${String(kb.content || '').substring(0, 400)}\\n`;\n    if (kb.success_rate) contextText += `Success Rate: ${kb.success_rate}%\\n`;\n  });\n  contextText += `\\n`;\n} else if (ctx.needsKB) {\n  contextText += `═══ KNOWLEDGE BASE ═══\\nTidak ada runbook relevan.\\n\\n`;\n}\n\n// ── SIMILAR TICKETS (RECOMMENDATION ENGINE) ─────────────────────────────────\n// Reuse data dari /api/chatbot/context yang sudah return similarTickets\n// Tidak perlu API call tambahan — cukup format ulang untuk konteks AI\nif (similarTickets.length > 0) {\n  contextText += `═══ HISTORICAL TICKETS SERUPA (${similarTickets.length}) ═══\\n`;\n  contextText += `(Gunakan hanya ID dari daftar ini. JANGAN mengarang ID lain.)\\n\\n`;\n  similarTickets.forEach((t, i) => {\n    contextText += `${i+1}. Ticket #${t.ticketId} — ${t.issue || 'N/A'}\\n`;\n    if (t.summary) {\n      contextText += `   ✅ Solusi: ${String(t.summary).substring(0, 250)}\\n`;\n    }\n    if (t.rootCause) {\n      contextText += `   🔍 Root Cause: ${String(t.rootCause).substring(0, 150)}\\n`;\n    }\n    if (t.resolvedAt) {\n      contextText += `   📅 Resolved: ${new Date(t.resolvedAt).toLocaleDateString('id-ID')}\\n`;\n    }\n  });\n  contextText += `\\n`;\n} else if (ctx.needsSimilar) {\n  contextText += `═══ HISTORICAL TICKETS ═══\\nTidak ditemukan kasus serupa yang resolved.\\n\\n`;\n}\n\n// ── ACTIVE INCIDENTS ────────────────────────────────────────────────────────\nif (activeIncidents.length > 0) {\n  contextText += `═══ INSIDEN AKTIF SAAT INI (${activeIncidents.length}) ═══\\n`;\n  activeIncidents.slice(0, 3).forEach((inc, i) => {\n    contextText += `${i+1}. [${inc.statusLabel || inc.status}] ${inc.title}\\n`;\n    contextText += `   Kategori: ${inc.category} | Priority: ${inc.priority}\\n`;\n    if (inc.groupedTicketIds && inc.groupedTicketIds.length > 0) {\n      contextText += `   Terkait: ${inc.groupedTicketIds.map(id => '#'+id).join(', ')}\\n`;\n    }\n  });\n  contextText += `\\n`;\n} else if (ctx.needsIncident) {\n  contextText += `═══ INSIDEN AKTIF ═══\\nTidak ada insiden aktif saat ini. Sistem berjalan normal.\\n\\n`;\n}\n\n// ── CONVERSATION HISTORY ────────────────────────────────────────────────────\nif (ctx.conversationHistory && ctx.conversationHistory.length > 0) {\n  contextText += `═══ RIWAYAT PERCAKAPAN (3 terakhir) ═══\\n`;\n  ctx.conversationHistory.slice(-3).forEach(turn => {\n    contextText += `User: ${turn.question}\\nAI: ${String(turn.answer || '').substring(0, 100)}...\\n\\n`;\n  });\n}\n\n// ── INSTRUKSI KHUSUS per CATEGORY ───────────────────────────────────────────\nif (ctx.category === 'incident_report') {\n  contextText += `═══ INSTRUKSI KHUSUS: INCIDENT REPORT ═══\\n`;\n  contextText += `Buat laporan insiden enterprise format:\\n`;\n  contextText += `1. Executive Summary\\n2. Detail Insiden\\n3. Timeline\\n4. Root Cause Analysis\\n5. Resolusi & Mitigasi\\n6. Rekomendasi Pencegahan\\n`;\n  contextText += `Gunakan data ticket di atas. Format: Markdown profesional.\\n\\n`;\n}\n\nif (ctx.category === 'recommendation' || ctx.needsSimilar) {\n  contextText += `═══ INSTRUKSI: RECOMMENDATION ═══\\n`;\n  contextText += `Berikan rekomendasi konkret berdasarkan:\\n`;\n  contextText += `1. Kasus serupa di atas (jika ada)\\n`;\n  contextText += `2. Runbook/KB yang relevan\\n`;\n  contextText += `3. Best practice IT jika tidak ada data\\n`;\n  contextText += `Sertakan langkah troubleshooting yang spesifik.\\n\\n`;\n}\n\nif (ctx.isNewTicket) {\n  contextText += `═══ INSTRUKSI: BUAT TICKET ═══\\n`;\n  contextText += `User ingin membuat ticket. Minta detail: nama, divisi, deskripsi masalah.\\n`;\n  contextText += `Setelah info lengkap, konfirmasi dan arahkan ke portal atau bot command.\\n\\n`;\n}\n\nreturn [{ json: {\n  ctx,\n  contextText,\n  hasTicket:   !!ticket,\n  hasKB:       runbooks.length > 0,\n  hasSimilar:  similarTickets.length > 0,\n  hasIncident: activeIncidents.length > 0,\n  similarCount: similarTickets.length,\n  runbookCount: runbooks.length,\n}}];"
      },
      "id": "fba743a8-e9a2-4d14-9fcd-ca95d1ccc3ba",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.contextText }}\n\n══════════════════════════════════════\nINSTRUKSI RESPONS\n══════════════════════════════════════\n1. Jawab natural seperti rekan IT berpengalaman — bukan robot\n2. Gunakan data dari context jika tersedia. Jika tidak ada → gunakan pengetahuan IT Anda\n3. Jika ticket DITEMUKAN tapi summary belum ada → sampaikan data yang ada (status, assignee, timeline), lalu berikan saran umum\n4. Jika ticket TIDAK DITEMUKAN → sampaikan tidak ditemukan, tawarkan alternatif\n5. Jika ada SIMILAR TICKETS → selalu sebutkan referensi ticket #ID dan solusinya\n6. Jika ada ACTIVE INCIDENTS yang relevan → informasikan ke user\n7. JANGAN mengarang ticket ID, data, atau informasi fiktif\n8. Format: Markdown (bold, list, code block jika perlu)\n9. Akhiri dengan tawaran bantuan lanjut atau langkah berikutnya\n\nBahasa: Indonesia (formal tapi ramah, atau ikuti bahasa user)",
        "options": {
          "systemMessage": "Anda adalah AI Assistant IT Support Enterprise SEAMOLEC yang profesional dan cerdas.\n\n🎯 PERAN ANDA:\nSenior IT Support Engineer yang juga bisa memberikan rekomendasi berdasarkan riwayat tiket dan knowledge base.\n\n📚 PRIORITAS SUMBER JAWABAN:\n1. Context TICKET SPESIFIK → jika ada #ID, gunakan data tiketnya\n2. SIMILAR TICKETS (Recommendation Engine) → jika ada kasus serupa resolved, jadikan referensi\n3. KNOWLEDGE BASE / RUNBOOK → panduan teknis tersedia\n4. ACTIVE INCIDENTS → informasi gangguan aktif\n5. Pengetahuan IT umum → fallback jika tidak ada data di atas\n\n✅ YANG BOLEH:\n- Menjawab pertanyaan umum IT dari pengetahuan sendiri\n- Memberikan langkah troubleshooting konkret\n- Mereferensikan ticket serupa dari history: \"Berdasarkan Ticket #42 yang pernah terjadi...\"\n- Memberikan saran best practice dan rekomendasi tools\n- Menginformasikan status insiden aktif jika relevan\n- Menjawab dalam bahasa Indonesia atau English\n\n❌ YANG TIDAK BOLEH:\n- Mengarang ticket ID yang tidak ada di context\n- Mengklaim data ada padahal context bilang belum tersedia\n- Membuat info fiktif tentang sistem internal\n- Memberikan rekomendasi tanpa dasar jika ada data konkret\n\n💬 FORMAT RESPONS:\n- **bold** untuk poin kritis\n- Numbered list untuk langkah troubleshooting\n- Code block untuk command teknis\n- Bullet untuk daftar opsi/rekomendasi\n- Singkat dan padat — tidak perlu preamble panjang"
        }
      },
      "id": "68a1ab40-50ce-47d7-8dbd-e2943241e633",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.4,
          "maxTokens": 1500
        }
      },
      "id": "13060d24-c0fa-45c7-9fa1-af5effba2aa7",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1040,
        520
      ],
      "credentials": {
        "groqApi": {
          "id": "groq-credential",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// BUILD LOG PAYLOAD — v9\n// Prepare data untuk POST /api/chatbot/log-interaction\n// Reuse tabel chatbot_interactions yang sudah ada (tidak buat tabel baru)\n// ================================================================\nconst ctx      = $('Parse & Detect Intent').item.json;\nconst ctxBuild = $('Build AI Context').item.json;\nconst aiOutput = $input.item.json;\n\nconst answer       = aiOutput.output || aiOutput.text || '';\nconst processingMs = Date.now() - new Date(ctx.timestamp).getTime();\n\n// context_used menyimpan meta recommendation untuk analitik\n// Reuse field context_used (JSONB) — tidak buat kolom baru\nconst contextUsed = {\n  category:     ctx.category,\n  hadTicket:    ctxBuild.hasTicket,\n  hadKB:        ctxBuild.hasKB,\n  hadSimilar:   ctxBuild.hasSimilar,\n  hadIncident:  ctxBuild.hasIncident,\n  similarCount: ctxBuild.similarCount,\n  runbookCount: ctxBuild.runbookCount,\n  keywords:     ctx.keywords,\n};\n\nreturn [{ json: {\n  // pass-through answer untuk Respond node\n  answer,\n  processingMs,\n  // log payload\n  logPayload: {\n    ticketId:       ctx.detectedTicketId || null,\n    userId:         ctx.userId,\n    userName:       ctx.userName,\n    question:       ctx.question,\n    answer,\n    intent:         ctx.category,\n    contextUsed,\n    processingTimeMs: processingMs,\n  },\n  // response meta\n  category:    ctx.category,\n  hasTicket:   ctxBuild.hasTicket,\n  hasKB:       ctxBuild.hasKB,\n  hasSimilar:  ctxBuild.hasSimilar,\n  hasIncident: ctxBuild.hasIncident,\n  timestamp:   ctx.timestamp,\n}}];"
      },
      "id": "prep-log-01",
      "name": "Prepare Log & Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/api/chatbot/log-interaction",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "automation_ticketing01_incident02"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticketId",
              "value": "={{ $json.logPayload?.ticketId ?? null }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.logPayload?.userId ?? 'unknown' }}"
            },
            {
              "name": "userName",
              "value": "={{ $json.logPayload?.userName ?? 'unknown' }}"
            },
            {
              "name": "question",
              "value": "={{ $json.logPayload?.question ?? '' }}"
            },
            {
              "name": "answer",
              "value": "={{ $json.logPayload?.answer ?? '' }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.logPayload?.intent ?? 'general' }}"
            },
            {
              "name": "processingTimeMs",
              "value": "={{ $json.logPayload?.processingTimeMs ?? 0 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "id": "ce8ffb65-b069-4ab0-8fbe-0844a785cc7c",
      "name": "Log Interaction (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"answer\": {{ JSON.stringify($('Prepare Log & Response').item.json.answer || '') }},\n  \"questionCategory\": \"{{ $('Prepare Log & Response').item.json.category }}\",\n  \"context\": {\n    \"hadTicket\":   {{ $('Prepare Log & Response').item.json.hasTicket }},\n    \"hadKnowledge\":{{ $('Prepare Log & Response').item.json.hasKB }},\n    \"hadSimilar\":  {{ $('Prepare Log & Response').item.json.hasSimilar }},\n    \"hadIncident\": {{ $('Prepare Log & Response').item.json.hasIncident }}\n  },\n  \"processingTimeMs\": {{ $('Prepare Log & Response').item.json.processingMs }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "0778547a-4a19-43a7-b204-51bcd4e1ab62",
      "name": "Respond to Discord",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Discord Chatbot": {
      "main": [
        [
          {
            "node": "Parse & Detect Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Detect Intent": {
      "main": [
        [
          {
            "node": "Fetch Context (API)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Incidents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Context (API)": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Incidents": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Log & Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log & Response": {
      "main": [
        [
          {
            "node": "Log Interaction (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Interaction (API)": {
      "main": [
        [
          {
            "node": "Respond to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    "chatbot",
    "recommendation",
    "v9-revised"
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
